
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        </style>
    <title>Document</title>
</head>
<body style='background-color:pink'>
    <header>
        <h1 style='color:purple;font-family:Brush Script MT;text-align:center':>Pro nejlepšího pejska ve vesmíru</h1>
        <p style='text-align:center;colorblack;font-family:Brush Script MT'>Haf Haf!</p>
    </header>
    
        {% block navigace %}{% endblock %}
    
    
    <main>
        {% block hlavniobsah %}{% endblock %}
    </main>
    <footer>
        <style>
            p {text-align:center}
        </style>
        <p>Copy: 2024 zpravaprojapa</p>

    </footer>
</body>
</html>